json/cap10_1.json
[
    {
        "id": "3609e1f43536c98b",
        "type": "tab",
        "label": "10_1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90f313bd28d0f7e4",
        "type": "mqtt in",
        "z": "3609e1f43536c98b",
        "name": "listen everything",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "047f66b61c6d89a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "a126256576b7ac27",
                "41d4380203a99f64"
            ]
        ]
    },
    {
        "id": "0b2011460c2eea8f",
        "type": "function",
        "z": "3609e1f43536c98b",
        "name": "Call webhook",
        "func": "if(msg.payload.length !== 0)\n{\n for(var i = 0; i < msg.payload.length; i++)\n {\n msg.method = msg.payload[i].method;\n msg.url = msg.payload[i].webHook;\n node.send([msg]);\n }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "ab074c93319ce5ae"
            ]
        ]
    },
    {
        "id": "a126256576b7ac27",
        "type": "function",
        "z": "3609e1f43536c98b",
        "name": "Search rules",
        "func": "msg.topic = \"SELECT * FROM ruleEngine\" +\n \" WHERE\" +\n \" ('\" + msg.topic + \"' LIKE topicPattern)\" +\n \" AND\" +\n \" ('\" + msg.payload + \"' LIKE payloadPattern)\" +\n \" AND active=1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "7f063f0b9c51b678"
            ]
        ]
    },
    {
        "id": "7f063f0b9c51b678",
        "type": "mysql",
        "z": "3609e1f43536c98b",
        "mydb": "6d8729e59a4d1151",
        "name": "",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "0b2011460c2eea8f"
            ]
        ]
    },
    {
        "id": "ab074c93319ce5ae",
        "type": "http request",
        "z": "3609e1f43536c98b",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "ce57011b4e918614"
            ]
        ]
    },
    {
        "id": "ce57011b4e918614",
        "type": "debug",
        "z": "3609e1f43536c98b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "41d4380203a99f64",
        "type": "function",
        "z": "3609e1f43536c98b",
        "name": "Create query",
        "func": "msg.topic = \"SELECT id,topic,payload,timestamp FROM thingData WHERE topic LIKE '\" + msg.req.params.topic.replace(/\\*/g, \"%\") + \"'\" + \" AND\" + \" payload LIKE '\" + msg.req.params.payload.replace(/\\*/g, \"%\") + \"'\" + \" AND deleted=0\"  + \" ORDER BY ID DESC\" + \" LIMIT \" + msg.req.params.count +\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "596d1666888dc5ec"
            ]
        ]
    },
    {
        "id": "57e860886fd5ac40",
        "type": "debug",
        "z": "3609e1f43536c98b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "596d1666888dc5ec",
        "type": "mysql",
        "z": "3609e1f43536c98b",
        "mydb": "fbcb2b59cc62c2b1",
        "name": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "57e860886fd5ac40"
            ]
        ]
    },
    {
        "id": "047f66b61c6d89a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.19.0.1",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6d8729e59a4d1151",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.19.0.1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fbcb2b59cc62c2b1",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.19.0.1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    }
]